#include <winuser.h>
#include <winver.h>
#include <winnt.h>

#define stringify(v1) #v1
#define quote(v1) stringify(v1)

#define NVER NVER1.NVER2.NVER3

STRINGTABLE LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
BEGIN
        1 "Trader's Home Task"quote(TARGET)"\0"
END

#include quote(RC_FILE_INCLUDE)

1 VERSIONINFO
        FILEVERSION    NVER1, NVER2, NVER3, 0
        PRODUCTVERSION NVER1, NVER2, NVER3, 0
        FILEOS         VOS_UNKNOWN
        FILETYPE       VFT_DLL
BEGIN
        BLOCK "StringFileInfo"
        BEGIN
          BLOCK "040904e4"
          BEGIN
          VALUE "CompanyName",        THT_PLUGIN_AUTHOR
          VALUE "FileDescription",    "Plugin for Trader's Home Task"
          VALUE "FileVersion",        quote(NVER)
          VALUE "InternalName",       quote(TARGET)
          VALUE "LegalCopyright",     THT_PLUGIN_COPYRIGHT
          VALUE "ProductName",        "Trader's Home Task"
          VALUE "ProductVersion",     quote(NVER)
          VALUE "Builder",            THT_PLUGIN_AUTHOR
          END
        END
        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x409, 1200
        END
END
